.h1{
    text-align: center;
    color: #C77B30;
    margin-top: 11%;
}

.h11{
    text-align: center;
    color: #C77B30;
    margin-top: 9%;
}

.h2
{
    text-align: center;
    color: #C77B30;
    margin-top: 2%;
}

.h{
    text-align: center;
    color: #C77B30;
    margin-top: 2%;
}